.wrapper {
    height: 380px;
}
.EOI, .DOOI, .SPOI {
    opacity: 0;
    font-size: 20px !important;
    color: grey;
    cursor: pointer;
}
.EOI:hover {
    /*color: #00648c !important;*/
    color: #0098db !important;
    transition: .1s;
}
.DOOI:hover {
    /*color: #8b0000!important;*/
    color: #c0392b !important;
    transition: .1s;
}
.SPOI:hover {
    color: #540801 !important;
    transition: .1s;
}
.pages_area {
    margin-top: 0;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.page_view {
    pointer-events: none;
    width: 30px;
    height: 30px;
    font-family: Consolas, sans-serif !important;
}
.arr_input {
    width: 30px;
    height: 30px;
    font-weight: bold;
}
.arr_input:hover {
    cursor: pointer;
}
.arr_input:disabled:hover {
    cursor: not-allowed;
}
#col_edit, #col_delete, #col_save, #col_add, #col_shutdown {
    width: 40px;
    border: none;
    padding-top: 2px;
}
#empty_col {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 39px;
}
#btn_save, #btn_add {
    color: grey;
    font-size: 20px;
    cursor: pointer;
}
#btn_save:hover {
    color: #27ae60;
}
#btn_add:hover {
    color: #c231b2;
}
td {
    border: 1px solid gray;
    height: 25px;
}



/*-------------------------------------|VLAN TABLE|-*/
.vlan_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    text-align: center;
    width: 470px;
    padding: 0;
    table-layout: fixed;
}
.vlan_table_header {
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.vlan_table_header td {
    padding: 0;
}
.vlan_table_header #col_1 {
    width: 59px;
}
.vlan_table_header #col_2 {
    width: 199px;
}
.vlan_table_header #col_3 {
    width: 129px;
}
.vlan_table_rows {
    height: 30px;
}
.vlan_table_rows_edit {
    height: 30px;
}
.vlan_table_rows_edit input {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.vlan_table_rows:hover {
    background-color: #bdc3c7;
}
.vlan_table_rows:hover #col_edit,
.vlan_table_rows:hover #col_delete {
    background-color: #fff;
}
.vlan_table_rows:hover .EOI,
.vlan_table_rows:hover .DOOI {
    opacity: 1;
}
/*--------------------------------------------------*/



/*--------------------------------|INTERFACE TABLE|-*/
.interface_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    text-align: center;
    width: 930px;
    padding: 0;
    table-layout: fixed;
}
.interface_table_header {
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.interface_table_header td {
    padding: 0;
}
.interface_table_header #col_1 {
    width: 39px;
}
.interface_table_header #col_2 {
    width: 104px;
}
.interface_table_header #col_3 {
    width: 59px;
}
.interface_table_header #col_4 {
    width: 109px
}
.interface_table_header #col_5 {
    width: 114px;
}
.interface_table_header #col_6 {
    width: 129px;
}
.interface_table_header #col_7 {
    width: 144px;
}
.interface_table_header #col_8 {
    width: 124px;
}
.interface_table_header #col_9 {
    width: 49px;
}
.interface_table_rows {
    height: 30px;
    position: relative;
}
.interface_table_rows #row_shutdown {
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(93, 73, 73, 0.9);
    height: 100%;
    width: calc(100% - 79px);
    left: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface_table_rows.selected {
    background-color: rgba(99, 110, 114, 0.4);
}
.interface_table_rows.selected #col_edit,
.interface_table_rows.selected #col_delete,
.interface_table_rows.selected #col_shutdown {
    background-color: #fff;
}
.interface_table_rows_edit {
    height: 30px;
}
.interface_table_rows_edit input {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.interface_table_rows_edit input[type='checkbox'] {
    width: 13px;
    height: 13px;
}
.interface_table_rows_edit select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.interface_table_rows:hover {
    background-color: #bdc3c7;
}
.interface_table_rows:hover #col_edit,
.interface_table_rows:hover #col_delete,
.interface_table_rows:hover #col_shutdown {
    background-color: #fff;
}
.interface_table_rows.selected:hover {
    background-color: rgba(99, 110, 114, 0.6);
}
.interface_table_rows:hover .EOI,
.interface_table_rows:hover .DOOI,
.interface_table_rows:hover .SPOI {
    opacity: 1;
}
/*--------------------------------------------------*/


/*REMOTE ACCESS TABLE*/
.remote_access_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    text-align: center;
    width: 550px;
    padding: 0;
    table-layout: fixed;
}
.remote_access_table_header {
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.remote_access_table_rows {
    height: 30px;
}
.remote_access_table_rows:hover {
    background-color: #bdc3c7;
}
.remote_access_table_rows:hover .EOI {
    opacity: 1 !important;
    color: #0098db !important;
}
.remote_access_table_rows:hover .DOOI {
    opacity: 1 !important;
    color: #e74c3c !important;
}
.remote_access_table_rows:hover .edit_btn_cell,
.remote_access_table_rows:hover .delete_btn_cell {
    background-color: #fff !important;
}
.remote_access_table_rows_edit {
    height: 30px;
    position: relative;
}
.remote_access_table_rows_edit td {
    padding: 0;
}
.remote_access_table_rows_edit input {
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.remote_access_table_rows_edit select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
}
.remote_access_table_rows_edit .add_row {
    position: absolute;
    font-weight: bold;
    width: 19px; height: 19px;
    border-radius: 50%;
    border: 1px solid #34495e;
    top: calc(50% - 9.5px);
    right: 50.5px;
    font-size: 13px;
    transition: .1s;
}
.remote_access_table_rows_edit .add_row:hover {
    cursor: pointer;
    background-color: #34495e;
    color: white;
}


/*-------------------*/








/*.int_table_rows:hover td:nth-child(9),
.int_table_rows:hover td:nth-child(10) {
    border-top: 1px solid grey !important;
    border-bottom: 1px solid grey !important;
}*/
/*.add_column {
    position: absolute;
    top: -25px;
    right: 60px;
    width: 20px;
    height: 20px;
    border: 2px solid darkgrey;
    border-radius: 50%;
}*/
