.wrapper {
    height: 352px;
    /*border: 1px solid green;*/
}
.UC_vlan_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    width: 700px;
    text-align: center;
    /*margin: 50px auto;*/
}

.UC_vlan_table caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

td {
    border: 1px solid gray;
    height: 25px;
}
td:nth-child(6), td:nth-child(7) {
    border: none;
    width: 30px;
}
.UC_vlan_table_row {
    transition: .1s;
}
.UC_vlan_table_header td { /*Заголовки*/
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.UC_vlan_table_header td:first-child {
    width: 80px;
}
.UC_vlan_table_header td:last-child {
    width: 150px;
}
.UC_vlan_table_row:hover {
    background-color: #bdc3c7;
}
.vlan_table_input input {
    width: calc(100% - 3px);
    height: 100%;
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
}
.td_edit_btn:hover .edit_btn {
    color: red;
}

.int_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}
caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    font-family: Consolas, sans-serif;
    width: 700px;
}
.int_table_header td {
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.arr_input {
    width: 30px;
    height: 30px;
}
.page_view {
    /*border: 1px solid grey;*/
    width: 30px;
    height: 30px;
}
.pages_area {
    margin-top: 10px;
    width: 635px;
    display: flex;
    justify-content: space-between;
}
.pagin {
    width: 65px;
    display: flex;
    justify-content: space-between;
}