

.wrapper {
    height: 352px;
    /*border: 1px solid green;*/
}
.UC_vlan_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    width: 700px;
    text-align: center;
    /*margin: 50px auto;*/
}

.UC_vlan_table caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}


td {
    border: 1px solid gray;
    height: 25px;
}
/*td:nth-child(6), td:nth-child(7) {*/
/*    border: none;*/
/*    width: 30px;*/
/*}*/

.UC_vlan_table_header td { /*Заголовки*/
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.UC_vlan_table_header td:first-child {
    width: 80px;
}
.UC_vlan_table_header td:last-child {
    width: 150px;
}
.UC_vlan_table_row:hover {
    background-color: #bdc3c7;
}
.vlan_table_input input {
    width: calc(100% - 3px);
    height: 100%;
    border: none;
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
}
.td_edit_btn:hover .edit_btn {
    color: red;
}

/*Interface table*/
.int_table {
    border-collapse: collapse;
    font-family: Consolas, sans-serif;
    width: 1000px;
    text-align: center;
    /*margin: 0 auto;*/
}
.int_table_header td {
    background-color: #34495e;
    font-weight: 600;
    color: white;
    height: 40px;
}
.int_table_rows td {
    border: 1px solid grey;
}
.page_view {
    pointer-events: none;
    width: 30px;
    height: 30px;
}
.arr_input {
    width: 30px;
    height: 30px;
}
.arr_input:hover {
    cursor: pointer;
}
.arr_input:disabled:hover {
    cursor: not-allowed;
}
.pages_area {
    margin-top: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.pagin {
    width: 65px;
    display: flex;
    justify-content: space-between;
}
.select_mode {
    width: 100%;
    height: 100%;
    outline: none;
    font-family: Consolas, sans-serif;
    /*border: 1px solid #7f8c8d;*/
    border: none;
}
.int_table_rows:hover {
    background-color: #bdc3c7;
}
.EOI, .DOOI {
    opacity: 0;
}
.int_table_rows:hover .select_mode {
    background-color: #bdc3c7;
}
.int_table_rows:hover .EOI {
    opacity: 1 !important;
    color: #3498db !important;
    transition: .1s !important;
}
.int_table_rows:hover .DOOI {
    opacity: 1 !important;
    color: #e74c3c !important;
    transition: .1s !important;
}
.int_table_rows:hover .edit_btn_cell,
.int_table_rows:hover .dell_btn_cell {
    background-color: #fff !important;
}
.save_btn_cell {
    border: none !important;
    padding-top: 2px !important;
}
.int_table_rows:hover .save_btn_cell {
    background-color: #fff;
}
.EOI:hover, .DOOI:hover  {
    box-shadow: 0px -2px 0px 0px #e67e22;
}
.int_table_input input {
    width: calc(100% - 10px);
    height: 100%;
    /*border: none;*/
    outline: none;
    font-family: Consolas, sans-serif;
    font-size: 16px;
    text-align: center;
}
.int_table_input td:nth-child(1) input,
.int_table_input td:nth-child(8) input,
.int_table_input td:nth-child(9) input {
    width: 13px;
}

/*.int_table_rows:hover td:nth-child(9),*/
/*.int_table_rows:hover td:nth-child(10) {*/
/*    border-top: 1px solid grey !important;*/
/*    border-bottom: 1px solid grey !important;*/
/*}*/
/*.add_column {
    position: absolute;
    top: -25px;
    right: 60px;
    width: 20px;
    height: 20px;
    border: 2px solid darkgrey;
    border-radius: 50%;
}*/
